extends cpp

###########################################################################
#                    Mozilla codebase snippets                            #
###########################################################################

snippet logdebug "NSPR debug log message"
LOG(PR_LOG_DEBUG, ("${message}",${variables}));
endsnippet
